* {
  box-sizing: border-box;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}



/* Styles Here */
body {
  font-family: 'Open Sans', helvetica, sans-serif;
}

header {
  background: #ccc;
  padding: 10px;
}

.logo {
  float: left;
  width: 45px;
}

nav {
  float: right;
  margin-top: 11px;
  text-align: right;
}

nav a {
  text-decoration: none;
  margin-right: 20px;
  font-size: 13px;
  color: #444;
  transition: 333ms all ease-in-out;
}

nav a:last-of-type {
  margin: 0;
}

nav a:hover {
  color: red;
}



/* Hero */
.hero {
  background: pink;
  background-image: url('https://unsplash.imgix.net/uploads/1411589183965bdf6e141/5f468e98?fit=crop&fm=jpg&h=700&q=75&w=1050');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero h1 {
  text-align: center;
  margin: 0;
  padding: 100px 0;
  color: white;
  color: rgba(255,255,255,1);
  text-shadow: 0 0 10px #444;
}


/* Columns & Row */
.row {
  margin: 0 auto 2em;
  width: 90%;
  max-width: 600px;
}

.column {
  float: left;
  width: 49%;
  margin-right: 2%;
}

.column:last-of-type {
  margin-right: 0;
}



/* Footer */
footer {
  background: #ccc;
  padding: 5px 0;
  text-align: center;
  font-size: 11px;
}



/* Responsive */
@media (max-width: 500px) {
  header {
    text-align: center;
  }
  header .row { 
    margin-bottom: 0; 
  }
  .logo {
    float: none;
    width: 80px;
  }
  nav {
    float: none;
    text-align: center;
  }
  .column {
    width: 100%;
    margin-right: 0;
  }
}

