@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body {
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins", sans-serif;
}
.container {
  display: relative;
  background-color: black;
  color: white;
}
.info #canvas {
  position: absolute;
}
.info {
  display: inline-block;
  padding: 5px;
}
