html, body {
  margin: 0;
  padding: 0;
}

canvas {
  background: #111111;
  height: 100%;
  width: 100%;
  display: block
}

.player-info {
  position: absolute;
  width: 40px;
  top: 80%;
  left: 46%;
}

.player-info h1 {
  font-family: "Alata", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

#level-bar {
  width: 300px;
  background-color: gray;
  position: absolute;
  border-radius: 10px;
  border: 2px black solid;
  right: -170px;
}

#level-bar #inner-bar {
  width: 0%;
  background-color: yellow;
  border-radius: 5px;
  height: 15px;
}

.progress-text {
  font-family: "Alata", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
  text-align: center;
  width: 100%;
  margin: 0;
  position: absolute;
  line-height: 13px;
}

.player-info {
  position: absolute;
  width: 40px;
  top: 80%;
  left: 46%;
}

.player-info h1 {
  font-family: "Alata", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

#score-bar {
  width: 300px;
  background-color: gray;
  position: absolute;
  border-radius: 10px;
  border: 2px black solid;
  right: -170px;
  bottom: 5px;
}

#score-inner {
  width: 100%;
  background-color: violet;
  height: 15px;
  border-radius: 5px;
}

#player-upgrades {
  position: absolute;
  width: 200px;
  top: 85%;
  left: 1%;
}

#upgrade-health {
  width: 90%;
  background-color: grey;
  position: absolute;
  border-radius: 10px;
  border: 2px black solid;
  bottom: 0.2em;
}

#inner-health-bar {
  width: 40%;
  background-color: lightgreen;
  height: 15px;
  border-radius: 5px;
}

#upgrade-tank-speed {
  width: 90%;
  background-color: grey;
  position: absolute;
  border-radius: 10px;
  border: 2px black solid;
  top: 0.2em;
}

#inner-tank-speed-bar {
  width: 20%;
  background-color: lightblue;
  height: 15px;
  border-radius: 5px;
}

#upgrade-bullet-damage {
  width: 90%;
  background-color: grey;
  position: absolute;
  border-radius: 10px;
  border: 2px black solid;
  top: 1.7em;
}

#inner-bullet-damage-bar {
  width: 10%;
  background-color: red;
  height: 15px;
  border-radius: 5px;
}

.upgrade-text {
  font-family: "Alata", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
    text-align: center;
    width: 100%;
    margin: 0;
    position: absolute;
    line-height: 12px;
    font-size: 12px !important;
}

#leaderboard {
  position: absolute;
  left: 84%;
  top: 3%;
  width: 15%;
  font-family: 'Alata', sans-serif;
  color: white;
  border-radius: 10px;
  overflow: auto;
}

#leaderboard-table {
  background-color: grey;
  border-spacing: 0;
  text-align: center;
  width: 100%;
  opacity: 0.7;
}

#table-head {
  background-color: #111111;
}

#player1-head {
  background-color: #222222;
}

#player2-head {
  background-color: #444444;
}

#player3-head {
  background-color: #222222;
}

#player4-head {
  background-color: #444444;
}

#player5-head {
  background-color: #222222;
}
